# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\yuler\ir-project\ir-maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
